@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxanium:wght@200..800&display=swap');
.background {
    -fx-background-color: #1E1E1E;
}
.buttons{
    -fx-background-color: transparent;
    -fx-border-color: #F7EED8;
    -fx-text-fill: #F7EED8;
}
.navBar{
    -fx-background-color: #F7EED8;
    -fx-alignment: center;
}
.loginText{

    -fx-text-fill: #F7EED8;
    -fx-font-size: 72px;
    -fx-translate-y: -70px;
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    -fx-spacing: -0,03em;
}
.iconOlympic{
    -fx-translate-y: -100px;
}
.iconMoon, .iconMoonNav, .iconHomeNav{
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.iconHomeNav{
    -fx-translate-x: -1000px;
}
.userNameText{
    -fx-translate-y: -80px;
    -fx-font-size: 20px;
    -fx-text-fill: #F7EED8;
    -fx-background-color: #3A3A38;
    -fx-control-inner-background: #1E1E1E;
    -fx-prompt-text-fill: #F7EED8;
    -fx-border-color: #9B9898;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-max-height: 20px;
    -fx-max-width: 300px;
}
.buttonEntrar{
    -fx-cursor: hand;
    -fx-min-height:20px;
    -fx-font-size: 20px;
    -fx-min-width: 150px;
    -fx-text-fill: #F7EED8;
    -fx-background-color: #3A3A38;
    -fx-control-inner-background: #1E1E1E;
    -fx-prompt-text-fill: #F7EED8;
    -fx-border-color: #9B9898;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}
.buttonEntrar:hover{
    -fx-text-fill: #1E1E1E;
    -fx-background-color: #D5D1C7;
    -fx-control-inner-background: #1E1E1E;
    -fx-prompt-text-fill: #1E1E1E;
    -fx-border-color: #9B9898;
}
.buttonReg{
    -fx-min-height: 65px;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
}
.buttonReg:hover, .iconMoonNav:hover, .iconHomeNav:hover{
    -fx-background-color: #9B9898;
}
